<div class="body"> 
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reprehenderit, aperiam numquam accusamus neque deserunt eveniet doloremque quaerat voluptate nobis odio recusandae facere nihil non voluptatem voluptatibus quis distinctio sint.</p>
    </div>
</div>