<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                account Reguster
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                    
                    </div>

                    <div class="form-group">
                        <input type="text" name="email" placeholder="Email" class="form-control" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Password" value="{{confirm_password}}"> 
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Done
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>